<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案由您的 Web 專案發佈/封裝處理序使用。您可以藉由編輯此 MSBuild 檔案，
自訂此處理序的行為。若要深入了解，請前往 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/5dbb249c-db91-4f30-b73f-575c0589de36/resourcegroups/MVCCodeFirstResourceGroup/providers/Microsoft.Web/sites/MVCCodeFirst</ResourceId>
    <ResourceGroup>MVCCodeFirstResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://mvccodefirst.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>mvccodefirst.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MVCCodeFirst</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <UserName>$MVCCodeFirst</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="OtherDB" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MVC_CodeFirst.Models.OtherDB, MVC_CodeFirstNewDB" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Blog_Connection" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:mvc-codefirstdbserver.database.windows.net,1433;Initial Catalog=MVC_Test_DB;User ID=kate_jou@mvc-codefirstdbserver;Password=Ab123456789" Name="Data Source=tcp:mvc-codefirstdbserver.database.windows.net,1433;Initial Catalog=MVC_Test_DB;User Id=kate_jou@mvc-codefirstdbserver;Password=Ab123456789" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MVC_CodeFirst.Blog_Context, MVC_CodeFirstNewDB" MigrationConfiguration="MVC_CodeFirstNewDB.Migrations.Configuration, MVC_CodeFirstNewDB" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Blog_Connection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:mvc-codefirstdbserver.database.windows.net,1433;Initial Catalog=MVC_Test_DB;User Id=kate_jou@mvc-codefirstdbserver;Password=Ab123456789</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)OtherDB-Web.config Connection String" />
  </ItemGroup>
</Project>