<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案由您的 Web 專案發佈/封裝處理序使用。您可以藉由編輯此 MSBuild 檔案，
自訂此處理序的行為。若要深入了解，請前往 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/5dbb249c-db91-4f30-b73f-575c0589de36/resourcegroups/MyFirstMVC/providers/Microsoft.Web/sites/MyFirstMVC20211110134834</ResourceId>
    <ResourceGroup>MyFirstMVC</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://myfirstmvc20211110134834.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>myfirstmvc20211110134834.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MyFirstMVC20211110134834</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <UserName>$MyFirstMVC20211110134834</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="FriendContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:myfirstmvcdbserver.database.windows.net,1433;Initial Catalog=MyFirstMVC_db;User ID=kate_jou@myfirstmvcdbserver;Password=Ab123456789" Name="Data Source=tcp:myfirstmvcdbserver.database.windows.net,1433;Initial Catalog=MyFirstMVC_db;User Id=kate_jou@myfirstmvcdbserver;Password=Ab123456789" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MyFirstMVC.Data.FriendContext, MyFirstMVC" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="FriendContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:myfirstmvcdbserver.database.windows.net,1433;Initial Catalog=MyFirstMVC_db;User Id=kate_jou@myfirstmvcdbserver;Password=Ab123456789</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>